---
layout: default
title: MapleStory 2 Boss Timer
---

<h2>MapleStory 2 Boss Timer</h2>

<div id="now-timezone"></div>
<br/>

<div id="boss-timer"></div>

<!-- <p>I have added a JSON endpoint that will list all the classes, available skills and non-stance skills:</p>
<p><a href='skills.json' class='btn btn-primary'>Skills JSON</a></p>

<h2>Example skill icons and tooltips</h2>

<div class='skills'>
  {% for skill in site.data.paladin.non_stance_skills %}
    {% assign skill_data = site.data.paladin.skills | where: "slug", skill.slug | first %}
    {% include skill.html skill=skill_data %}
  {% endfor %}
</div> -->
