<div class='skill'>
  <img src='images/{{ comboskill.image }}' />

  <div id='skill-{{ comboskill.slug }}' class='skill-tooltip'>
    <img src='images/{{ comboskill.image }}' />
    <div class='skill-name'>{{ comboskill.name }}</div>
    {% for detail in comboskill.skill-details %}
      <div class='skill-detail'>{{ detail }}</div>
    {% endfor %}
    {% for detail in comboskill.skill-descriptions %}
      <div class='skill-description'>{{ detail }}</div>
    {% endfor %}
  </div>

  <div class='skill-title'>{{ comboskill.name }}</div>
</div>
