---
---

@import "{{ site.theme }}";

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table-content.active.alerted {
  background-color: red;
}

.table-content.active {
  background-color: green;
}

.boss-icon {
  width: 25px;
  height: 25px;
}

.boss-icon-large {
  border: 1px solid white;
  margin-bottom: 5px;
  // float: left;
}

#on-now {
  margin-bottom: 20px;
}

.active-content {
  border: 1px solid #666;
  padding: 10px;
  margin-bottom: 5px;
}

.active-content.alerted {
  border: 1px solid red;
}
